--
-- PostgreSQL database dump
--

\restrict lInGy4qdtSwM53O1lCtGrhp3Lc0KkDHUpDCpUfBm2tLqE69wUrOCxWTtdJXAFWT

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE IF EXISTS salchipapas_db;
--
-- Name: salchipapas_db; Type: DATABASE; Schema: -; Owner: salchipapas_user
--

CREATE DATABASE salchipapas_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE salchipapas_db OWNER TO salchipapas_user;

\unrestrict lInGy4qdtSwM53O1lCtGrhp3Lc0KkDHUpDCpUfBm2tLqE69wUrOCxWTtdJXAFWT
\connect salchipapas_db
\restrict lInGy4qdtSwM53O1lCtGrhp3Lc0KkDHUpDCpUfBm2tLqE69wUrOCxWTtdJXAFWT

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: salchipapas_user
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'PREPARING',
    'READY',
    'ON_DELIVERY',
    'DELIVERED',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO salchipapas_user;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: salchipapas_user
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'CARD'
);


ALTER TYPE public."PaymentMethod" OWNER TO salchipapas_user;

--
-- Name: ProductCategory; Type: TYPE; Schema: public; Owner: salchipapas_user
--

CREATE TYPE public."ProductCategory" AS ENUM (
    'SALCHIPAPAS',
    'BEBIDAS',
    'ADICIONALES',
    'COMBOS'
);


ALTER TYPE public."ProductCategory" OWNER TO salchipapas_user;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: salchipapas_user
--

CREATE TYPE public."UserRole" AS ENUM (
    'CUSTOMER',
    'ADMIN',
    'DELIVERY'
);


ALTER TYPE public."UserRole" OWNER TO salchipapas_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: salchipapas_user
--

CREATE TABLE public.addresses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    street character varying(255) NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    "zipCode" character varying(20) NOT NULL,
    country character varying(100) DEFAULT 'Colombia'::character varying,
    "isDefault" boolean DEFAULT false,
    instructions text,
    "createdAt" timestamp without time zone DEFAULT now(),
    "updatedAt" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.addresses OWNER TO salchipapas_user;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: salchipapas_user
--

CREATE TABLE public.order_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "orderId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    notes text,
    "createdAt" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.order_items OWNER TO salchipapas_user;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: salchipapas_user
--

CREATE TABLE public.orders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    "addressId" uuid NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus",
    total numeric(10,2) NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'CASH'::public."PaymentMethod",
    notes text,
    "createdAt" timestamp without time zone DEFAULT now(),
    "updatedAt" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.orders OWNER TO salchipapas_user;

--
-- Name: products; Type: TABLE; Schema: public; Owner: salchipapas_user
--

CREATE TABLE public.products (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    image character varying(500),
    category public."ProductCategory" NOT NULL,
    "isAvailable" boolean DEFAULT true,
    "createdAt" timestamp without time zone DEFAULT now(),
    "updatedAt" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.products OWNER TO salchipapas_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: salchipapas_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    phone character varying(50),
    role public."UserRole" DEFAULT 'CUSTOMER'::public."UserRole",
    "createdAt" timestamp without time zone DEFAULT now(),
    "updatedAt" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO salchipapas_user;

--
-- Data for Name: addresses; Type: TABLE DATA; Schema: public; Owner: salchipapas_user
--

COPY public.addresses (id, "userId", street, city, state, "zipCode", country, "isDefault", instructions, "createdAt", "updatedAt") FROM stdin;
a2f471f9-ce44-4871-aae7-d33d84ac1e1b	5e9567b8-5f5b-45e4-8bb4-29ac495015ba	Calle 11	Yumbo	Valle del Cauca	4124	Colombia	t	Casa color azul de 2 pisos	2025-11-23 15:07:54.097535	2025-11-23 15:07:54.097535
9a405acc-ad00-4704-9858-51cd1316c939	4ed86074-a41a-458f-b7c5-46c8b6aeec29	Calle 123 #45-67	Bogot├í	Cundinamarca	110111	Colombia	t	\N	2025-11-23 15:51:26.516104	2025-11-23 15:51:26.516104
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: salchipapas_user
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: salchipapas_user
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: salchipapas_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: salchipapas_user
--



--
-- Name: addresses addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_addresses_user_id; Type: INDEX; Schema: public; Owner: salchipapas_user
--

CREATE INDEX idx_addresses_user_id ON public.addresses USING btree ("userId");


--
-- Name: idx_order_items_order_id; Type: INDEX; Schema: public; Owner: salchipapas_user
--

CREATE INDEX idx_order_items_order_id ON public.order_items USING btree ("orderId");


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: salchipapas_user
--

CREATE INDEX idx_orders_status ON public.orders USING btree (status);


--
-- Name: idx_orders_user_id; Type: INDEX; Schema: public; Owner: salchipapas_user
--

CREATE INDEX idx_orders_user_id ON public.orders USING btree ("userId");


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: salchipapas_user
--

CREATE INDEX idx_products_category ON public.products USING btree (category);


--
-- Name: idx_products_is_available; Type: INDEX; Schema: public; Owner: salchipapas_user
--

CREATE INDEX idx_products_is_available ON public.products USING btree ("isAvailable");


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: salchipapas_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: addresses fk_address_user; Type: FK CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT fk_address_user FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: orders fk_order_address; Type: FK CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_order_address FOREIGN KEY ("addressId") REFERENCES public.addresses(id);


--
-- Name: order_items fk_order_item_order; Type: FK CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_order_item_order FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_items fk_order_item_product; Type: FK CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_order_item_product FOREIGN KEY ("productId") REFERENCES public.products(id);


--
-- Name: orders fk_order_user; Type: FK CONSTRAINT; Schema: public; Owner: salchipapas_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_order_user FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict lInGy4qdtSwM53O1lCtGrhp3Lc0KkDHUpDCpUfBm2tLqE69wUrOCxWTtdJXAFWT

